body {
  font-family: Arial, sans-serif;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 128, 0.8);
  padding: 20px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Adjust based on header height */
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Use center instead of top-center */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 1000px; /* Increase max-width to make the container larger */
  width: 100%;
  padding: 50px; /* Increase padding to make the container larger */
}

.content {
  width: 50%;
  padding-right: 20px;
}

.content h2 {
  color: #ff00ff;
  font-size: 24px;
}

.content h3 {
  font-size: 20px;
  color: #333;
}

.content p {
  font-size: 16px;
  color: #555;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #6a5acd;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  background: #483d8b;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
